body {
    font-family: 'Press Start 2P', cursive; 
    background-color: #1d1d1d; 
    color: #ffffff; 
    font-size: 12px;
    text-shadow: 4px 4px #000;
}

nav {
    background-color: #333;
    padding: 10 px;
    text-align: center;
}

nav a {
    color: #ffffff; 
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #ffffff;
    text-align: center; 
}

.home, .education, .experience, .skill, .project, .contact {
    text-align: left;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #570c57, #000000); 
    border: 2px; 
}

.experience-item {
    background: rgba(255, 255, 255, 0.1); 
    border: 1px;
    border-radius: 5px; ; 
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 0; 
    display: inline-block;
    width: auto;
}